<mat-toolbar color="primary" class="header-toolbar">
  <div class="logo-container">
    <a routerLink="/" class="logo-link">
      <mat-icon>play_circle_filled</mat-icon>
      <span class="logo-text">VideoTube</span>
    </a>
  </div>

  <div class="search-container">
    <form (ngSubmit)="onSearch()" class="search-form">
      <mat-form-field appearance="outline" class="search-field">
        <input matInput placeholder="Search videos" [(ngModel)]="searchQuery" name="search">
        <button mat-icon-button matSuffix type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <div class="nav-links">
    <a mat-button routerLink="/upload" class="upload-btn">
      <mat-icon>video_call</mat-icon>
      <span>Upload</span>
    </a>
    <a mat-button routerLink="/user/1" class="profile-btn">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </a>
  </div>
</mat-toolbar>
